{% extends 'base.html' %}
{% load static %}

{% block content %}

  <style>
      #advertisement {
          height: 500px;
          width: 300px;
      }
  </style>

  <head>
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">{{ news.all.0.title }}</h1>
          <p class="lead my-3">{{ news.all.0.summary }}...</p>
          <p class="lead mb-0"><a href="{% url 'news' %}#{{news.all.0.id}}" class="text-white font-weight-bold">Olvass tovabb</a></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ news.all.1.title }}</h3>
              <div class="mb-1 text-muted">{{ news.all.1.pub_date_pretty }}</div>
              <p class="card-text mb-auto">{{ news.all.1.small_summary }}</p>
              <a href="{% url 'news' %}#{{news.all.1.id}}" class="stretched-link">Olvass tovabb</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{ news.all.1.image.url }}" class="bd-placeholder-img" width="200" height="250"/>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-0">{{ news.all.2.title }}</h3>
              <div class="mb-1 text-muted">{{ news.all.2.pub_date_pretty }}</div>
              <p class="mb-auto">{{ news.all.2.small_summary }}</p>
              <a href="{% url 'news' %}#{{news.all.2.id}}" class="stretched-link">Olvass tovabb</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <img src="{{ news.all.2.image.url }}" class="bd-placeholder-img" width="200" height="250"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main role="main" class="container">
      
          <div class="row">
            <div class="col-md-8 blog-main">
              <h3 class="pb-4 mb-4 font-italic">
                Hireink
              </h3>

              {% for item in news %}
                  <hr  id="{{ item.id }}">
                  <div class="blog-post">
                    <h2 class="blog-post-title">{{ item.title }}</h2>
                    <p class="blog-post-meta">{{ item.pub_date_pretty }} by {{ item.publisher }}</p>

                    {% if item.heading %}
                        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                    {% endif %}

                    <p>{{ item.body }}</p>
                  </div><!-- /.blog-post -->
              {% endfor %}

            </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
          <div class="container">
              <img src="{{ news.all.2.image.url }}" id="advertisement"/>
          </div>
        </aside><!-- /.blog-sidebar -->

      </div><!-- /.row -->


    </main><!-- /.container -->

</body>

{% endblock %}