{% extends 'base.html' %}
{% block content %}

<style>

    #stories-headline {
        margin-top: 50px;
    }

</style>
 <div class="container marketing" id="stories-headline">

    <!-- Three columns of text -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>{{stories.all.0.title}}</h2>
        <p>{{stories.all.0.small_summary}}...</p>
        <p><a class="btn btn-secondary" href="{% url 'stories' %}#{{stories.all.0.id}}" role="button">Olvass tovabb &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>{{stories.all.1.title}}</h2>
        <p>{{stories.all.1.small_summary}}...</p>
        <p><a class="btn btn-secondary" href="{% url 'stories' %}#{{stories.all.1.id}}" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>{{stories.all.2.title}}</h2>
        <p>{{stories.all.2.small_summary}}...</p>
        <p><a class="btn btn-secondary" href="{% url 'stories' %}#{{stories.all.2.id}}" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- Stories -->

    {% for story in stories %}

        <hr class="featurette-divider">

        {% if forloop.counter|divisibleby:2 %}
            <div class="row featurette" id="{{story.id}}">
                <div class="col-md-7">
                <h2 class="featurette-heading">{{ story.title }}</h2>
                <p class="lead">{{ story.body }}</p>
                </div>
                <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                </div>
            </div>
        {% elif %}
            <div class="row featurette" id="{{story.id}}">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">{{ story.title }}</h2>
                <p class="lead">{{ story.body }}</p>
              </div>
              <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
              </div>
            </div>
        {% endif %}

    {% endfor %}

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock %}

{% block js-foot %}

{% endblock %}